/* Profile.css */
.profile-container {
  display: flex;
  height: 100vh;
  background-color: #dff9fb;
}

.sidebar {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;  
}

.logo {
  text-align: left; 
}

.logo img {
  width: 75%;
  height: 75%;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}

.menu-item {
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: left; 
  margin: 0; 
}

.menu-item.active {
  background-color: #8ed2eb;
  border-radius: 5px; 
  text-align: left; 
}

.announcements-container {
  display: flex;
  height: 100vh;
  background-color: #dff9fb;
  padding: 20px;
}

.announcements-list {
  margin-top: 20px;
  width: 800px;
}

.announcement-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-date {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  display: block;
}

